<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloud.blog.auth.mapper.sys.BlogOperationMapper">
  <resultMap id="BaseResultMap" type="com.cloud.blog.model.po.sys.BlogOperation">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="operation_code" jdbcType="VARCHAR" property="operationCode" />
    <result column="operation_name" jdbcType="VARCHAR" property="operationName" />
    <result column="pre_resource_mapping" jdbcType="VARCHAR" property="preResourceMapping" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, operation_code, operation_name, pre_resource_mapping, parent_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from blog_operation
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from blog_operation
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cloud.blog.model.po.sys.BlogOperation">
    insert into blog_operation (id, operation_code, operation_name, 
      pre_resource_mapping, parent_id)
    values (#{id,jdbcType=INTEGER}, #{operationCode,jdbcType=VARCHAR}, #{operationName,jdbcType=VARCHAR}, 
      #{preResourceMapping,jdbcType=VARCHAR}, #{parentId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.cloud.blog.model.po.sys.BlogOperation">
    insert into blog_operation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="operationCode != null">
        operation_code,
      </if>
      <if test="operationName != null">
        operation_name,
      </if>
      <if test="preResourceMapping != null">
        pre_resource_mapping,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="operationCode != null">
        #{operationCode,jdbcType=VARCHAR},
      </if>
      <if test="operationName != null">
        #{operationName,jdbcType=VARCHAR},
      </if>
      <if test="preResourceMapping != null">
        #{preResourceMapping,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cloud.blog.model.po.sys.BlogOperation">
    update blog_operation
    <set>
      <if test="operationCode != null">
        operation_code = #{operationCode,jdbcType=VARCHAR},
      </if>
      <if test="operationName != null">
        operation_name = #{operationName,jdbcType=VARCHAR},
      </if>
      <if test="preResourceMapping != null">
        pre_resource_mapping = #{preResourceMapping,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cloud.blog.model.po.sys.BlogOperation">
    update blog_operation
    set operation_code = #{operationCode,jdbcType=VARCHAR},
      operation_name = #{operationName,jdbcType=VARCHAR},
      pre_resource_mapping = #{preResourceMapping,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>