<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloud.blog.auth.mapper.sys.BlogMenuPowerMapper">
  <resultMap id="BaseResultMap" type="com.cloud.blog.model.po.sys.BlogMenuPower">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="power_id" jdbcType="INTEGER" property="powerId" />
    <result column="menu_id" jdbcType="INTEGER" property="menuId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, power_id, menu_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from blog_menu_power
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from blog_menu_power
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cloud.blog.model.po.sys.BlogMenuPower">
    insert into blog_menu_power (id, power_id, menu_id
      )
    values (#{id,jdbcType=INTEGER}, #{powerId,jdbcType=INTEGER}, #{menuId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cloud.blog.model.po.sys.BlogMenuPower">
    insert into blog_menu_power
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="powerId != null">
        power_id,
      </if>
      <if test="menuId != null">
        menu_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="powerId != null">
        #{powerId,jdbcType=INTEGER},
      </if>
      <if test="menuId != null">
        #{menuId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cloud.blog.model.po.sys.BlogMenuPower">
    update blog_menu_power
    <set>
      <if test="powerId != null">
        power_id = #{powerId,jdbcType=INTEGER},
      </if>
      <if test="menuId != null">
        menu_id = #{menuId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cloud.blog.model.po.sys.BlogMenuPower">
    update blog_menu_power
    set power_id = #{powerId,jdbcType=INTEGER},
      menu_id = #{menuId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>